$color1: #efefef;

ul#posts_list {
  margin-left: 20px;

  li {
    display:block;
    margin-bottom: 20px;
    border-radius: 10px;

    .name {
      font-size: 18px;
    }
    .body {
      padding: 10px;
      background-color: $color1;
      border-radius: 10px;
    }
  }
}
